<!--  This will display a loading wheel while posts are being fetched -->
<mat-spinner *ngIf="isLoading"></mat-spinner>
<!--  This is the accordion to display posts, will only display if the posts are not loading and there are posts to display -->
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading" >
<!--  This is iterating over the fetched posts -->
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="accent" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!--  This is a conditional display when there are no posts and the posts are loading  -->
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
<!--  This is the paginator to allow the user to adjust how the posts are being displayed -->
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)" *ngIf="posts.length > 0 "></mat-paginator>

